.banner {
    background-color: #ADD8E6;
    overflow: hidden;
}

.banner .container {
    height: 550px;
    display: flex;
    color: white;
    align-items: center;
}


.banner .container.login {
    justify-content: center;
}

.card {
    background-color: #E5E5E5;
    color: #E6005A;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    filter: drop-shadow(30%);
    margin: auto
}

.card h2 {
    margin: 0;
}

.img_login {
    position: relative;
}

.img_login img {
    height: 400px;
    margin-right: 0px;
    position: absolute;
    bottom: 0px;
    top: -124px;
    left: -330px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 250px;
}

form label {
    margin-top: 8px;
}

form input {
    margin-top: 8px;
    outline: none;
    border: 0;
    padding: 8px;
    width: 230px;
    background-color: transparent;
    border-bottom: 1px solid #E6005A;
}

.btn_entrar {
    margin-top: 40px;
    background-color: #E6005A;
    color: white;
    padding: 10px 15px;
    width: 200px;
    align-self: center;
    font-size: 18px;
    border: 0;
    border-radius: 28px;
    cursor: pointer;
    transition: 0.5s;
}

.btn_entrar:hover {
    color: white;
    background-color: #E6005A;
    transform: translateY(-25px);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.45);

}