body {
    background-color: white;
}

.banner {
    background-color: white;
    display: flex;
    margin-top: 40px;

}

.campo_simulador {
    background-color: #E5E5E5;
    color: #E6005A;
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 30%;
    margin: 50px auto;
    border-radius: 10px;
    margin-bottom: 80px;
    border: solid 15px #E5E5E5;
}

h2{
    color: #e6005a;
}

#mostrar_valor{
    max-width: 800px;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 80px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 250px;
    text-align: start;
    margin: auto;
    
}

form label {
    margin-top: 8px;
    align-content: center;
   
    
}

form input {
    margin-top: 8px;
    outline: none;
    border: 0;
    padding: 8px;
    width: 230px;
    height: 25px;
    background-color: transparent;
    border-bottom: 1px solid #E6005A;
    justify-content: flex-start;

}

.campo_simulador a{
    margin-top: 16px;
    background-color: #E6005A;
    color: white;
    padding: 10px 15px;
    width: 120px;
    Falign-self: center;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border: 0;
    border-radius: 28px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 10px;
    transition: 0.5s;
    animation: bounce infinite linear 2s;

}

.campo_simulador a:hover{
    color: white;
    background-color: #E6005A;
    transform: translateY(-25px);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.45);
}

