body {
    background-color: #ADD8E6;
}

.campo_simulador {
    background-color: #E5E5E5;
    color: #E6005A;
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 70%;
    margin: 50px auto;
    border-radius: 10px;
}
#mostrar_valor{
    max-width: 350px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 250px;
    text-align: start;
}

form label {
    margin-top: 8px;
}

form input {
    margin-top: 8px;
    outline: none;
    border: 0;
    padding: 8px;
    width: 230px;
    height: 25px;
    background-color: transparent;
    border-bottom: 1px solid #E6005A;
    justify-content: flex-start;

}

form button {
    margin-top: 16px;
    background-color: #E6005A;
    color: white;
    padding: 10px 15px;
    width: 120px;
    align-self: center;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 100px;

}



