.header {
    color: #ADD8E6;
    text-decoration: none;
    background-color: #ADD8E6;
}

.banner {
    background-color: white;
    display: flex;
    margin-top: 40px;

}

h1 {
    color: black;
}

h2 {
    color: #E6005A;
}

.img_tecnologia img {
    display: flex;
    height: 800px;
    position: absolute;
    margin-left: 100px;
    margin-bottom: 10px;
}

.funcoes {
    background-color: #FFD3FB;
    width: 600px;
    height: 90px;
    margin-left: 650px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    border-radius: 15px;
    align-content: center;
    border: solid #FFD3FB 15px;
    display: flex;
    transition: 0.5s;
    margin-top: 20px;
}

.funcoes p {
    font-size: 14px;
    text-align: center;
}

.funcoes:hover {
    transform: translateY(-25px);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.45);
}

.funcoes2 {
    background-color: #FFD3FB;
    width: 600px;
    height: 90px;
    margin-left: 650px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    align-content: center;
    border: solid #FFD3FB 15px;
    display: flex;
    transition: 0.5s;
    margin-top: 20px;
}

.funcoes2 p {
    font-size: 14px;
    text-align: center;
}

.funcoes2:hover {
    transform: translateY(-25px);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.45);
}

.funcoes3 {
    background-color: #FFD3FB;
    width: 600px;
    height: 90px;
    margin-left: 650px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    margin-bottom: 330px;
    align-content: center;
    border: solid #FFD3FB 15px;
    display: flex;
    transition: 0.5s;
    margin-top: 20px;
}

.funcoes3 p {
    font-size: 14px;
    text-align: center;
}

.funcoes3:hover {
    transform: translateY(-25px);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.45);
}